.welcome-background {
  background: url("../assets/background.png") no-repeat center center / cover;
  position: absolute;
  width: 350px;
  height: 350px;
}

.welcome-background1 {
  top: -20px;
  left: -20px;
}

.welcome-background2 {
  top: -20px;
  right: -20px;
}

.welcome-container {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.welcome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.welcome-logo-name {
  font-size: 100px;
  font-weight: 800;
}

.welcome-sub-logo {
  font-size: large;
  font-weight: 600;
}

.welcome-login-btn {
  padding: 15px 100px;
  border-radius: 100px;
  background: var(--background-secondary-color);
  border: 1.5px solid var(--text-primary-color);
  color: var(--text-primary-color);
  font-size: medium;
  font-weight: 700;
  box-shadow: 0px 3px 0 var(--text-primary-color);
  background-clip: padding-box;
  cursor: pointer;
  margin-top: 20px;
}

.welcome-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}

.feature-card {
  border-radius: 15px;
  background-color: white;
  padding: 30px;
  width: 400px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.feature-icon {
  font-size: 3rem;
}

.feature-name {
  font-size: x-large;
  font-weight: 500;
}

.welcome-intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
}

.welcome-description {
  max-width: 600px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .welcome-features {
    gap: 20px;
  }
  
  .feature-card {
    width: 320px;
    padding: 25px;
  }
  
  .welcome-logo-name {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .welcome-container {
    padding: 30px;
    gap: 20px;
  }
  
  .welcome-background {
    width: 250px;
    height: 250px;
  }
  
  .welcome-logo-name {
    font-size: 60px;
  }
  
  .welcome-login-btn {
    padding: 12px 70px;
  }
  
  .feature-card {
    width: 280px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .welcome-container {
    padding: 20px;
    gap: 15px;
  }
  
  .welcome-background {
    width: 150px;
    height: 150px;
  }
  
  .welcome-logo-name {
    font-size: 40px;
    margin-top: 30px;
  }
  
  .welcome-sub-logo {
    font-size: medium;
  }
  
  .welcome-login-btn {
    padding: 10px 50px;
  }
  
  .feature-card {
    width: 100%;
  }
  
  .feature-icon {
    height: 80px;
  }
}
