@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p, h1, h2, h3, h4, h5, h6, span, label, a {
  cursor: pointer;
}

input, 
textarea, 
[contenteditable="true"] {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
}

:root {
  --text-primary-color: #000000;
  --text-secondary-color: #707070;
  --background-primary-color: #F0EBE1;
  --background-secondary-color: #93C1C1;
}

.link {
  text-decoration: none;
  background: transparent;
}
